{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Выбранная тренировка</h1>
<table class="table-hover" >
    <tr valign="top">
        <td align="center"> Название упражнения </td>
        <td align="center"> Правила выполнения упражнения </td>
        <td align="center"> Количество </td>

    {% for exercises in exercises %}
        {% include '_exe.html' %}
    {% endfor %}
</table>
<div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}