{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Обновить данные</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-md-6">
            <br><br><br>
            <font size="+1" >

                <p>Обновление данных - важный процесс для понимания и отслеживания изменения ваших соматометрических показателей.</p>
                <p>Настоятельно рекомендуем вам не забывать обновлять данные перед подбором новой тренировки. </p>
                <p>Вполне возможно, что вы уже улучшили свое состояние, и теперь вам нужны тренировки, направленные на другие группы мышц.</p><br>
                <p>Обязательными полями являются рост и вес.</p>

            </font>

        </div>
    </div>
<br>
<br>
<font size="+1"> <p><a href="{{ url_for('pasport') }}">Вернуться к паспорту здороья</a></p></font>
{% endblock %}