{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Привет, {{ current_user.username }}!</h1>

{%if current_user.active_training == 1%}
    <h2> Задание на сегодня:</h2>
<table class="table-hover" >
    <tr valign="top">
        <td align="center"> Название упражнения </td>
        <td align="center"> Правила выполнения упражнения </td>
        <td align="center"> Количество </td>

    {% for exercises in exercises %}
        {% include '_exe.html' %}
    {% endfor %}
    {%endif%}
</table>
{% endblock %}