{% extends "base.html" %}
{% block app_content %}
<h1>Рацион питания</h1>
<h2>Тренировки в сочетании с правильно подобранным рационом питанием гораздо эффективней</h2>
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-8">
            <p><font size = "+1"> Монодиеты – важное подспорье в борьбе с лишним весом. Одной из самых популярных монодиет уже многие десятилетия и по сей день остается диета на гречке — она не требует больших материальных затрат и легко выдерживается в течение непродолжительного времени, позволяя при этом добиться впечатляющих результатов. Мы расскажем, к чему нужно готовиться, решившись пройти диету на гречке, и каких ошибок стоит избегать.</p>
            <p>Основной рацион на гречневой диете составляет гречневая крупа, но не привычно сваренная, а запаренная кипятком из расчета 1 стакан сухой крупы на 2-3 стакана воды. Выбор количества воды позволяет варьировать консистенцию: чем меньше кипятка, тем более зернистым получится продукт, соответственно, если крупа запаривается большим количеством воды, гречка получится мягкой и мажущейся. Перед обработкой гречку при необходимости перебрать и обязательно – промыть в дуршлаге. Крупу для диеты на гречке можно запаривать как в кастрюле (залив крупу кипятком накрыть крышкой и обмотать большим полотенцем), так и в термопосуде. Соль и масло добавлять нельзя. Удобнее всего запаривать гречку на ночь, запасая себе «дозу» на следующий день, так крупа достаточно распарится. </p>
            <font>Количество употребляемой приготовленной таким образом крупы диета на гречке не регулирует – есть можно сколько угодно, но только эту «кашу». Лучше есть гречку небольшими порциями 6 раз в день. Последний прием продукта должен быть за 4-6 часов до сна. Если голод и скудность рациона одолевают, можно побаловать себя «стаканчиком» нежирного йогурта (без наполнителей!).</font></p>
        </div>

        </div>
    </div>
</div>
{% endblock %}