{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table class="table table-hover">
        <tr>

            <td>
                <h1>Пользователь: {{ user.username }}</h1>

                {% if user == current_user %}
                <font size="+1"> <p><a href="{{ url_for('pasport') }}">Перейти к паспорту здоровья.</a></p>
                <p><a href="{{ url_for('select_training') }}">Подобрать тренировку!</a></p></font>
                {%if current_user.active_training == 1%}
                 <font size="+1">
                <p><a href="{{ url_for('training_user') }}">Посмотреть текущую тренировку.</a></p>
                <p><a href="{{ url_for('recipe') }}">Посмотреть рекомендуемый рацион питания.</a></p>
                 </font>
                     {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-6">
      <h2>Будь лучше</h2>
      <h5>Этот сайт тебе в этом поможет</h5>
      <p>Дорогой друг!</p>
      <p>Поздравляем тебя с регистрацией на нашем сайте! Этот твой первый шаг к здоровому телу и правильному питанию.</p>
      <br>
  </div>

      <h2>О нас</h2>
      <h5>Разарботка проводилась для кафедры физической культуры СПбГТИ(ТУ)</h5>
      <p>Основной целью разработки является увеличение резервов здоровья пользователей</p>
      <br>
  </div>
</div>

{% endblock %}