{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>Пользователь: {{ user.username }}</h1>
                {% if user.last_seen %}<p>Последний раз в сети: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('pasport') }}">Перейти к паспорту здоровья</a></p>
                <p><a href="{{ url_for('select_training') }}">Подобрать тренировку!</a></p>

                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {%if user.active_training == 1%}
    <h2> Задание на сегодня:</h2>
<table class="table-hover" >
    <tr valign="top">
        <td align="center"> Название упражнения </td>
        <td align="center"> Правила выполнения упражнения </td>
        <td align="center"> Количество </td>

    {% for exercises in exercises %}
        {% include '_exe.html' %}
    {% endfor %}
    {%endif%}
</table>
{% endblock %}